body {
  background-image: url(./resources/background.jpeg);
  background-size: cover;
}
input,
textarea {
  resize: none;
  outline: none;
}
input[type=button] {
  border-width: 1px;
  border-radius: 5px;
  font-family: 'Red Hat Display', sans-serif;
  margin: 1px 0;
  font-size: 16px;
  padding: 0 20px;
  background-color: rgba(250, 250, 250, 0.473);
  color: black;
}
input[type=button]:hover {
  background-color: rgba(80, 80, 80, 0.473);
  cursor: pointer;
  color: white;
}
.searchBar {
  display: flex;
  justify-content: center;
  border: none;
  color: #888888;
  font-size: 15px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 0 white;
}
.searchBar input[type=search] {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 1rem;
  width: 40%;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 1rem 1rem 80px -2px black;
  border-width: 0;
  border-style: solid;
}
.searchBar input[type=button] {
  font-weight: 700;
}
.filters {
  display: flex;
  justify-content: space-evenly;
}
.filters .selects {
  display: flex;
}
.filters select {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  margin: 0 1rem;
  border-radius: 5px;
}
#showFilters {
  display: block;
  margin: 2rem auto;
  padding: 10px ;
}
.diets {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 8rem;
}
.diets .dietText {
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  width: 7rem;
  font-family: 'Merriweather', sans-serif;
  font-size: 12px;
}
.diets .dietText:hover {
  cursor: pointer;
  color: #854343;
}
.diets input[type=button] {
  margin: 1rem 3rem;
  border-radius: 15px;
  border: 0;
  color: #911818;
  font-family: 'Acme', sans-serif;
  font-size: 18px;
}
.diets input[type=button]:hover {
  cursor: pointer;
  color: #834141;
  background-color: #ffcece;
}
.pressed {
  display: block;
  margin: 5px 0;
  color: #fdf1da;
  background-color: rgba(80, 80, 80, 0.473);
  border-radius: 20px;
  padding: 10px;
}
.recipeCards {
  display: grid;
  background-color: rgba(80, 80, 80, 0.473);
  margin: 1rem 2rem;
  padding: 2rem;
  border-radius: 50px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
.recipeCard {
  padding: 2rem 2rem 3.5rem 2rem;
  max-width: 80%;
  height: 20rem;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  text-align: center;
  transition: transform 0.5s;
}
.recipeCard:hover {
  box-shadow: 1rem 1rem 80px -2px black;
  border-radius: 10%;
  transform: scale(1.1);
  cursor: pointer;
}
.recipeCard h2 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  color: white;
}
.recipeCard p {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  margin: 4px 0;
}
.recipeCard img {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 50%;
  border-radius: 50%;
}
.recipeCard p {
  color: white;
}
.deleteButton {
  margin-left: 12rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  border: none;
  padding: 0.7rem;
  background-color: #d5faff;
}
.deleteButton:hover {
  cursor: pointer;
  background-color: rgba(80, 80, 80, 0.473);
  color: aliceblue;
}
.h1404 {
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  background-color: rgba(80, 80, 80, 0.473);
  text-align: center;
}
.error404 {
  display: block;
  margin: 1.5rem auto;
  background-image: url(./resources/404.gif);
  min-width: 20rem;
  min-height: 15rem;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar h1 {
  text-align: center;
  width: 15%;
  margin: 10px;
  color: black;
  font-size: 35px;
  font-family: 'Kaushan Script', cursive;
  border-radius: 50px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(250, 250, 250, 0.473);
  margin-bottom: 10px;
}
.links .link {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
  color: #3f3f3f;
}
.links .link:hover {
  color: white;
  background-color: rgba(80, 80, 80, 0.473);
  border-radius: 10%;
}
.paginate ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 2rem 10rem;
  border-radius: 50px;
  background-color: rgba(80, 80, 80, 0.473);
}
.paginate ul li {
  padding: 1rem;
  border-radius: 20%;
  transition: transform 0.5s;
}
.paginate ul li:hover {
  transform: scale(1.05);
}
.paginate ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.paginate ul li:hover {
  background-color: rgba(73, 73, 73, 0.466);
  cursor: pointer;
}
.currentPage {
  background-color: rgba(255, 132, 132, 0.692);
}
.recipeDetail h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.recipeDetail .detailCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  background-color: rgba(80, 80, 80, 0.473);
  border-radius: 5px;
  margin: 10px 20px;
  padding: 2rem 0;
  font-family: 'Red Hat Display', sans-serif;
}
.recipeDetail .detailCard .presentation {
  display: block;
  margin: auto;
  padding: 1rem 2rem;
  background-color: rgba(255, 251, 196, 0.726);
  border-radius: 15px;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
}
.recipeDetail .detailCard .presentation h5 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  border-radius: 30%;
  padding: 1rem;
  text-align: center;
  margin: 0 10px;
}
.recipeDetail .detailCard .presentation .dietsDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  transition: transform 0.5s;
}
.recipeDetail .detailCard .presentation .dietsDetail:hover {
  box-shadow: none;
  border-radius: none;
  transform: scale(1.1);
  cursor: auto;
}
.recipeDetail .detailCard .presentation .dietsDetail p {
  margin: 0;
}
.recipeDetail .detailCard .presentation .muchDiets {
  max-width: fit-content;
}
.recipeDetail .detailCard .presentation .scores {
  transition: transform 0.5s;
}
.recipeDetail .detailCard .presentation .scores:hover {
  box-shadow: none;
  border-radius: none;
  transform: scale(1.1);
  cursor: auto;
}
.recipeDetail .detailCard .presentation .scores h4 {
  margin: 10px 0;
}
.recipeDetail .detailCard .presentation .scores .others {
  display: flex;
  justify-content: space-evenly;
}
.recipeDetail .detailCard .presentation img {
  display: block;
  margin: auto;
  max-width: 18rem;
  max-height: 90%;
  border-radius: 20px;
  transition: transform 0.5s;
}
.recipeDetail .detailCard .presentation img:hover {
  box-shadow: none;
  border-radius: none;
  transform: scale(1.1);
  cursor: auto;
}
.recipeDetail .detailCard .description h3 {
  text-decoration: underline;
  color: white;
}
.recipeDetail .detailCard .description p {
  margin-right: 2rem;
  background-color: wheat;
  border-radius: 10px;
  padding: 1rem;
  line-height: 20px;
  transition: transform 0.5s;
}
.recipeDetail .detailCard .description p:hover {
  box-shadow: none;
  border-radius: none;
  transform: scale(1.1);
  cursor: auto;
}
.stepsDetail {
  display: block;
  margin: 1rem 20%;
  background-color: rgba(240, 248, 255, 0.815);
  border-radius: 5px;
  padding: 1rem;
  font-family: 'Red Hat Display', sans-serif;
}
.stepsDetail h3 {
  font-weight: 700;
  margin-left: 2rem;
}
.stepsDetail .list {
  display: block;
  margin: auto;
  list-style: none;
}
.stepsDetail .list .step {
  justify-content: center;
  transition: transform 0.5s;
  padding: 0 2rem;
}
.stepsDetail .list .step:hover {
  box-shadow: none;
  border-radius: none;
  transform: scale(1.1);
  cursor: auto;
}
.stepsDetail .list .step p {
  margin: 10px 0;
}
.form {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5rem;
  font-family: 'Red Hat Display', sans-serif;
  margin: 10px 2rem;
}
@media (max-width: 1080px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.form .formInputs {
  display: grid;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  column-gap: 1rem;
  background-color: rgba(240, 248, 255, 0.87);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 1rem 1rem 80px -2px black;
}
.form .formInputs input {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid gray;
  resize: none;
  outline: none;
}
.form .formInputs .labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
}
.form .formInputs .inputDiets {
  margin-top: 10px;
}
.form .formInputs .chooseDiets {
  font-family: 'Red Hat Display', sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
}
.form .formInputs .chooseDiets p {
  margin: 2px 0;
}
.form .formInputs .chooseDiets .diet {
  padding: 0.5rem;
}
.form .formInputs .chooseDiets .diet:hover {
  cursor: pointer;
}
.form .formInputs .inputDescription {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form .formInputs .inputDescription h4 {
  margin: 10px 0 5px 0;
  font-size: 18px;
  align-items: flex-start;
}
.form .formInputs .inputDescription textarea {
  min-width: 80%;
  min-height: 120px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.5rem;
}
.form .formRecipe {
  display: grid;
}
.form .formRecipe .cardRow {
  display: block;
  margin: auto 2rem !important;
}
.form .formRecipe .detailDescription {
  margin: auto 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.form .formRecipe .detailDescription .description p {
  justify-content: space-around;
  margin: 1rem;
}
.form .formRecipe .detailColumn {
  display: flex !important;
  flex-direction: column;
}
.form .formRecipe .detailColumn h3 {
  max-height: 80%;
  margin: none;
}
.form .formRecipe .cardForm h3 {
  height: 75px;
}
.form .formRecipe .cardForm .detailColumn {
  background-color: unset !important;
}
.form .submit {
  display: block;
  font-family: 'Red Hat Display', sans-serif;
  width: 20%;
  height: 70%;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 2rem auto 2rem auto;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 0 20px;
  background-color: rgba(80, 80, 80, 0.473);
  color: white;
}
.form .submit:hover {
  background-color: rgba(250, 250, 250, 0.473);
  color: black;
  cursor: pointer;
}
.createRecipe {
  text-align: center;
}
.createRecipe h1 {
  display: flex;
  justify-content: center;
}
.dietPressed {
  display: block;
  margin: auto;
  background-color: rgba(0, 50, 97, 0.808);
  border-radius: 20px;
  padding: 5px;
  color: #f7ead4;
}
.labelError {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.error {
  border: 2px solid #fc6060e3 !important;
}
.landing {
  display: block;
  margin: auto;
  font-family: 'Acme', sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.459);
  width: 100%;
  height: 100%;
  position: fixed;
  color: #f7ffff;
  font-size: 35px;
}
.landing h1 {
  margin: 1rem 8rem;
}
.landing button {
  display: block;
  margin: auto;
  padding: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  background-color: #f7ffff;
  color: black;
}
.landing button:hover {
  background-color: rgba(80, 80, 80, 0.473);
  cursor: pointer;
  color: white;
}
.landing img {
  border-radius: 20px;
  max-height: 20rem;
}
.aboutMe {
  background-color: rgba(0, 0, 0, 0.678);
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem;
  border-radius: 20px;
  color: aliceblue;
}
.aboutMe .container h1 {
  font-size: 50px;
  font-family: 'Nanum Myeongjo', serif;
  margin: 1rem 2rem;
  border-bottom: 1px solid white;
}
.aboutMe .container .infoMe p {
  margin: 1rem 5rem;
  padding-bottom: 1rem;
  font-size: 20px;
  text-align: justify;
  line-height: 40px;
  border-bottom: 1px solid white;
}
.aboutMe .container .linksInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutMe .container .linksInfo .miniInfo {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe .container .linksInfo .miniInfo img {
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
}
.aboutMe .container .linksInfo .miniInfo img:hover {
  cursor: pointer;
}
.aboutMe .container .linksInfo .miniInfo p {
  margin: 1rem;
  font-size: 17px;
  font-family: 'Red Hat Display', sans-serif;
}
.aboutMe .container .linksInfo .miniInfo p:hover {
  cursor: pointer;
}
.imgLoading {
  display: block;
  margin: 5rem auto;
  border-radius: 40%;
}
.removeDiets {
  margin: 1rem 3rem;
  border-radius: 15px;
  border: 0;
  color: #911818;
  font-family: 'Acme', sans-serif;
  font-size: 18px;
}
.removeDiets:hover {
  cursor: pointer;
  color: #834141;
  background-color: #ffcece;
}
.edit {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  align-items: center;
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
}
.editButton {
  margin-left: 1rem;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  width: 30px;
}
.editButton:hover {
  background-color: rgba(80, 80, 80, 0.473);
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: rgba(80, 80, 80, 0.473);
  align-items: center;
  margin-top: 2rem;
}
.footer p {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
}
